<% include ../includes/header %>

<div class="container">
    <header>
        <div class="jumbotron" style="padding-top:10px; padding-bottom:10px">
            <h2>YelpCamp</h2>
            <h4>Some of our featured camps</h4>
            <a href="/campgrounds/new" class="btn btn-lg btn-primary" >Add a new Campground</a>
            <p>
                <form method="GET" action="/campgrounds" class="form-inline">
                    <input type="text" name="search" placeholder="Enter campground name to search" class="form-control" />
                    <input type="submit" value="Search" class="btn btn-default" />
                </form>
            </p>
        </div>
    </header>
    <% if(noMatch.length > 0){ %>
        <div class="col-md-12">
            <h4><%= noMatch %></h4>
        </div>
    <% } %>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-4">
            <a href="/campgrounds/<%= campground._id %>">
                <div class="thumbnail">
                    <% if(campground.image){ %>    
                        <image src="<%= campground.image %>"></image>
                        <div class="caption"><%= campground.name %></div>    
                    <% } else if(campground.imageUpload) { %>
                        <image src="/campgrounds/<%= campground.imageUpload %>"></image>
                        <div class="caption"><%= campground.name %></div>    
                    <% } else { %>
                        <image src="/INA.png"></image>
                        <div class="caption"><%= campground.name %></div>    
                    <% } %>
                </div>
            </a>
        </div>
        <% }); %>
        <% if(pages > 1){ %>
        <div class="container">
            <ul class="pagination">
                <% let end = Number(current) + 2 < Number(pages) ? Number(current) + 2 : Number(pages)  %>
                <% let start = Number(current) > 2 ? Number(current) - 2 : 1 %>
                <% if(current - start > 1 && current > 3){ %>
                    <% if(searchQuery){ %>
                        <li><a href="/campgrounds/?search=<%= searchQuery %>&page=1">1</a></li>
                    <% } else { %>
                        <li><a href="/campgrounds/?page=1">1</a></li>
                    <% } %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for(let i = start; i <= end ; i++){ %>
                    <li 
                        <% if(Number(current) === i){ %>
                            class="active"
                        <% } %>
                    >
                    <% if(searchQuery){ %>
                        <a href="/campgrounds/?search=<%= searchQuery %>&page=<%= i %>"><%= i %></a>
                    <% } else { %>
                        <a href="/campgrounds/?page=<%= i %>"><%= i %></a>
                    <% } %>
                    </li>
                <% } %>
                <% if(pages - current > 2){ %>
                    <li class="disabled"><a>...</a></li>
                    <% if(searchQuery){ %>
                        <li><a href="/campgrounds/?search=<%= searchQuery %>&page=<%= pages %>"><%= pages %></a></li>
                    <% } else { %>
                        <li><a href="/campgrounds/?page=<%= pages %>"><%= pages %></a></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <% } %>
    </div>
    
</div>

<% include ../includes/footer %>